
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .50s;
}

.fade-enter-active {
  transition-delay: .50s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.linkable {
  cursor: pointer;
}

.loading {
  opacity: 0.5;
  pointer-events: none;
}

.input-small {
  width: 140px !important;
}

.with-margin-bottom {
  margin-bottom: 10px;
}

.action-controls-sm {
  width: 100px;
}

.links {
  cursor: pointer;
}

//CV table

.cv {
  position: relative;
  margin: 0px 30px;
}

.cv-picture {
  width: 118px; height: 157px; position: absolute; right: 0px; border: 1px solid #000
}

.cv > h1 {
  color: #3C8DBC;
  font-size: 24px;
  float: left;
  width: 100%;
  text-transform: uppercase;
}

.cv p {
  padding-top: 10px;
}

.cv p.center{
  text-align: center;
}

.cv p.left{
  text-align: left;
}

.cv span {
  padding: 0px 5px;
}

.cv-table {
  height: auto;
  float: left;
  border: 1px solid #000;
}

.cv-table td {
  padding: 2px 5px;
}

.cv-table tr, .cv-table td, .cv-table th {
  border: 1px solid #000;
}

.cv-lg {
  width: 100%;
}

.cv-md {
  width: 48%;
}

.cv-md-margin-left
{
  margin-left: 4%;
}

.cv-table-margin-top
{
  margin-top: 10px;
}

.cv-top-border-none, .cv-top-border-none tr, .cv-top-border-none td {
  border-top: none !important;
}